<main style="position: relative;">
  <%= image_tag "pamphlet/console-top-left.svg", class: "pamphlet-console-top-left" %>
  <%= image_tag "pamphlet/console-top-right.svg", class: "pamphlet-console-top-right" %>
  <section class="pamphlet-grid-container fw">

    <section class="pamphlet-section">
      <%= image_tag "logo.png", class: "pamphlet-logo" %>

      <h1 class="pamphlet-title">The
        <span class="pamphlet-title-trusty">Trusty</span>
        P<span style="font-style: italic;">a</span>mphle<span style="font-style: italic;">t</span></h1>

      <p class="pamphlet-text">
        Hullo there! Welcome to Otterkin, an online commissioning platform
        created to help talented artists like you thrive. We’re passionate
        about bridging the gap between artists and art lovers, providing a
        space where beautiful, bespoke works of art come to life.
      </p>

      <div class="pamphlet-golden-image-container">
        <%= image_tag "homepage/artist-painting.svg", class: "pamphlet-golden-image" %>
        <p class="pamphlet-golden-text">Real art<br>by real<br>artists</p>
      </div>

      <p class="pamphlet-text">
        Our goal is to connect you with buyers who appreciate unique,
        commissioned pieces tailored to their needs.
      </p>

      <div class="pamphlet-golden-image-container">
        <%= image_tag "pamphlet/easel.svg", class: "pamphlet-golden-image" %>
        <p class="pamphlet-golden-text">From camera<br>roll to<br>canvas</p>
      </div>

      <p class="pamphlet-text">
        At Otterkin, we take pride in supporting artists by offering a platform
        that makes the commissioning process straightforward, fair, and
        rewarding.
      </p>

      <div class="pamphlet-golden-image-container">
        <%= image_tag "homepage/pocket-watch.svg", class: "pamphlet-golden-image" %>
        <p class="pamphlet-golden-text">Commission<br>artwork within<br>minutes</p>
      </div>

      <p class="pamphlet-text">
        We’re not just another platform; we’re a community that values
        craftsmanship, talent, and the stories behind every brushstroke.
      </p>

      <div class="pamphlet-golden-image-container">
        <%= image_tag "homepage/tiger.svg", class: "pamphlet-golden-image" %>
        <p class="pamphlet-golden-text">Don't tame<br>the tiger:<br>Express<br>yourself</p>
      </div>
    </section>

    <section class="pamphlet-section dark">
      <div class="pamphlet-dark-background"></div>
      <h2 class="pamphlet-subtitle dark top">Tired of waiting for commissions?</h2>

      <div class="pamphlet-image-text-container">
        <%= image_tag "pamphlet/painting-stack-1.png", class: "pamphlet-image-text-image" %>
        <p class="pamphlet-image-text-text dark right">
          Fed up of twiddling your thumbs, waiting for commissions, leaving you
          feeling like this?
        </p>
      </div>

      <div class="pamphlet-image-text-container">
        <p class="pamphlet-image-text-text dark">
          Not to worry! We’re putting artists in one place, so those in search
          of your creative genius can find you with ease
        </p>
        <%= image_tag "pamphlet/magnifying-glass.svg", class: "pamphlet-image-text-image" %>
      </div>

      <h2 class="pamphlet-subtitle dark">Weary of being fleeced by gallery fees?</h2>

      <div class="pamphlet-image-text-container">
        <p class="pamphlet-image-text-text dark">
          Tired of doubling your prices or halving your profits to account for
          absurdly high gallery fees?<br><br>
          This guy is...
        </p>
        <%= image_tag "pamphlet/painting-stack-2.png",
        class: "pamphlet-image-text-image right" %>
      </div>

      <div class="pamphlet-image-text-container">
        <%= image_tag "pamphlet/teapot.svg", class: "pamphlet-image-text-image" %>
        <p class="pamphlet-image-text-text dark right">
          At 12.5%, our commission fees are light as a feather, and our process
          is smoother than an Earl Grey
        </p>
      </div>

      <div class="pamphlet-logoo-container gold">
        <%= image_tag "logoo-gold-nobg.svg" %>
      </div>
    </section>

    <section class="pamphlet-section">
      <h2 class="pamphlet-subtitle top">Muddled comms &amp; uncertain payments?</h2>

      <div class="pamphlet-image-text-container">
        <p class="pamphlet-image-text-text">
          Has poor communication and insecure payments got you pulling your
          bristles out?
        </p>
        <%= image_tag "pamphlet/pigeon.svg", class: "pamphlet-image-text-image right" %>
      </div>

      <div class="pamphlet-image-text-container">
        <%= image_tag "pamphlet/painting-stack-3.png", class: "pamphlet-image-text-image" %>
        <p class="pamphlet-image-text-text right">
          Our payment and messaging systems are both simple and safe. Even
          reporting difficult clients and requesting refunds is stress-free so
          you can sleep easy
        </p>
      </div>

      <h2 class="pamphlet-subtitle">Aligning dates &amp; diaries feel like off-piste skiing?</h2>

      <div class="pamphlet-image-text-container">
        <p class="pamphlet-image-text-text">
          Does matching schedules and setting clear timelines feel like
          wandering in the wilderness?
        </p>
        <%= image_tag "pamphlet/compass.svg",
        class: "pamphlet-image-text-image right compass" %>
      </div>

      <div class="pamphlet-image-text-container">
        <%= image_tag "pamphlet/painting-stack-4.png", class: "pamphlet-image-text-image" %>
        <p class="pamphlet-image-text-text right">
          Our calendar system enables you to set your availability and manage
          your commissions, giving you complete control of your time.<br><br>
          Plus, you don’t have to take any commissions you don’t want to
        </p>
      </div>

      <div class="pamphlet-logoo-container fg">
        <%= image_tag "logoo-fg-nobg.svg" %>
      </div>
    </section>
  </section>
  <section class="pamphlet-bottom-container fw">
    <%= image_tag "pamphlet/console-top-left.svg", class: "pamphlet-console-top-left" %>
    <%= image_tag "pamphlet/console-top-right.svg", class: "pamphlet-console-top-right" %>

    <div class="pamphlet-bottom-text-container">
      <h2 class="pamphlet-bottom-title">Oh
        <span style="color: var(--pink); font-style: italic;">go on then</span>
        - how will it all work?</h2>
      <ul class="pamphlet-bottom-steps">
        <li class="pamphlet-bottom-step-container">
          <h3 class="pamphlet-bottom-step-heading">Step 1</h3>
          <p class="pamphlet-bottom-step-text">
            For just £9.99/month, create an online portfolio with your existing
            artwork through our sign-up link; add prices, availability, and
            whether or not you require to work in person.
          </p>
        </li>
        <li class="pamphlet-bottom-step-container">
          <h3 class="pamphlet-bottom-step-heading">Step 2</h3>
          <p class="pamphlet-bottom-step-text">
            Get commissioned - you’ll receive artistic instruction from your
            client such as references for you to work with. You’ll also be paid
            one third of the commission value at this stage.
          </p>
        </li>
        <li class="pamphlet-bottom-step-container">
          <h3 class="pamphlet-bottom-step-heading">Step 3</h3>
          <p class="pamphlet-bottom-step-text">
            Communicate with your client through our integrated messaging
            system, showing them early drafts and drawings, so you can nail
            down exactly what it is they want. Once you’re both happy, the
            client clicks the confirmation button you send, and you get paid
            the second third.
          </p>
        </li>
        <li class="pamphlet-bottom-step-container">
          <h3 class="pamphlet-bottom-step-heading">Step 4</h3>
          <p class="pamphlet-bottom-step-text">
            Create the wonderful piece, box it and send it for delivery through
            your account’s Royal Mail link. Once delivery is confirmed, the
            remainder of your payment will be sent immediately! Now, sit back
            and relax, you can celebrate a successful commission!
          </p>
        </li>
        <li class="pamphlet-bottom-step-container">
          <h3 class="pamphlet-bottom-step-heading">Step 5</h3>
          <p class="pamphlet-bottom-step-text">
            Sit down, rest and delight that you’ve created something of
            priceless value.
          </p>
        </li>
      </ul>

      <div class="pamphlet-bottom-bottom-matter">
        <%= link_to new_subscriber_path, class: "button outline" do %>
          Register interest
          <%= render_icon "arrow-head-right", classes: "button-icon" %>
        <% end %>
        <%= image_tag "logoo-gold-nobg.svg" %>
      </div>
    </div>
  </section>
</main>
